.o-message-list {
  z-index: 1008;
  --app-header-height: 64px;
  --app-footer-height: 300px;

  --message-list-top-offset: calc(var(--app-header-height) + 32px);
  --message-list-bottom-offset: calc(var(--app-footer-height) + 32px);
}
